parte_3/_flow.json
[{"id":"ce2f4043.38cbb8","type":"natural-language-understanding","z":"5371300d.cb259","name":false,"categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":false,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":400,"y":580,"wires":[["85e8ce5e.2c57b8"]]},{"id":"9af9b3a5.472d78","type":"http response","z":"5371300d.cb259","name":"","statusCode":"","headers":{},"x":630,"y":580,"wires":[]},{"id":"d3a50212.d709a","type":"http in","z":"5371300d.cb259","name":"","url":"/nlu","method":"post","upload":false,"swaggerDoc":"","x":80,"y":580,"wires":[["71927b0.baf7504"]]},{"id":"85e8ce5e.2c57b8","type":"template","z":"5371300d.cb259","name":"Formato","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n    <script>\n        function goBack() {\n            window.history.back();\n        }\n    </script>\n</head>\n<body>\n<button onclick=\"goBack()\">Volver a la ventana anterior</button>\n{{#insights}}\n    Advertencias:\n    {{#warnings}}\n        <!-- TODO -->\n    {{/warnings}}\n    {{^warnings}}\n       ¡No hay! \n    {{/warnings}}\n    Cantidad de palabras: {{word_count}}\n    <table>\n        <thead>\n            <tr>\n            {{#personality}}\n            \n                <th>{{name}}</th>\n                \n            {{/personality}}\n            </tr>\n        </thead>\n        <tbody>\n            <tr>\n        {{#personality}}\n               <td>{{percentile}}</td>\n        {{/personality}}\n        </tr>\n        </tbody>\n    </table>\n    <br>\n    <h2>Necesidades: </h2>\n    <ul>\n    {{#needs}}\n        <li>{{name}} - {{percentile}}</li>\n    {{/needs}}\n    </ul>\n    <br>\n    <h2>Valores</h2>\n    <table>\n        <thead>\n            <tr>\n            {{#values}}\n                <th>{{name}}</th>\n            {{/values}}\n            </tr>\n        </thead>\n        <tbody>\n            <tr>\n            {{#values}}\n                <td>{{percentile}}</td>\n            {{/values}} \n            </tr>\n        </tbody>\n    </table>\n{{/insights}}\n{{^insights}}\nError inesperado.\n{{/insights}}\n</body>","output":"str","x":520,"y":620,"wires":[["9af9b3a5.472d78"]]},{"id":"71927b0.baf7504","type":"function","z":"5371300d.cb259","name":"Obtener valor de <form>","func":"msg.payload = msg.payload[\"input-personalidad\"];\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":620,"wires":[["ce2f4043.38cbb8"]]},{"id":"727aa234.ebf62c","type":"comment","z":"5371300d.cb259","name":"Paso 3 - Natural Language Classifier","info":"","x":160,"y":540,"wires":[]}]
