parte_2/_flow.json
[{"id":"6dfea11.a2d4a6","type":"http response","z":"5371300d.cb259","name":"","statusCode":"","headers":{},"x":610,"y":400,"wires":[]},{"id":"2a5c76f6.59b9ca","type":"http in","z":"5371300d.cb259","name":"","url":"/personalidad","method":"post","upload":false,"swaggerDoc":"","x":110,"y":400,"wires":[["ca1cfb77.ab0fe8"]]},{"id":"39dbfb0b.14218c","type":"watson-personality-insights-v3","z":"5371300d.cb259","name":"","inputlang":"es","outputlang":"es","rawscores":false,"consumption":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/personality-insights/api","x":390,"y":400,"wires":[["87e74616.c5f388"]]},{"id":"87e74616.c5f388","type":"template","z":"5371300d.cb259","name":"Formato","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n    <script>\n        function goBack() {\n            window.history.back();\n        }\n    </script>\n</head>\n<body>\n<button onclick=\"goBack()\">Volver a la ventana anterior</button>\n{{#insights}}\n    Advertencias:\n    {{#warnings}}\n        <!-- TODO -->\n    {{/warnings}}\n    {{^warnings}}\n       ¡No hay! \n    {{/warnings}}\n    Cantidad de palabras: {{word_count}}\n    <table>\n        <thead>\n            <tr>\n            {{#personality}}\n            \n                <th>{{name}}</th>\n                \n            {{/personality}}\n            </tr>\n        </thead>\n        <tbody>\n            <tr>\n        {{#personality}}\n               <td>{{percentile}}</td>\n        {{/personality}}\n        </tr>\n        </tbody>\n    </table>\n    <br>\n    <h2>Necesidades: </h2>\n    <ul>\n    {{#needs}}\n        <li>{{name}} - {{percentile}}</li>\n    {{/needs}}\n    </ul>\n    <br>\n    <h2>Valores</h2>\n    <table>\n        <thead>\n            <tr>\n            {{#values}}\n                <th>{{name}}</th>\n            {{/values}}\n            </tr>\n        </thead>\n        <tbody>\n            <tr>\n            {{#values}}\n                <td>{{percentile}}</td>\n            {{/values}} \n            </tr>\n        </tbody>\n    </table>\n{{/insights}}\n{{^insights}}\nError inesperado.\n{{/insights}}\n</body>","output":"str","x":520,"y":440,"wires":[["6dfea11.a2d4a6"]]},{"id":"ca1cfb77.ab0fe8","type":"function","z":"5371300d.cb259","name":"Obtener valor de <form>","func":"msg.payload = msg.payload[\"input-personalidad\"];\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":440,"wires":[["39dbfb0b.14218c"]]},{"id":"a6822583.df0548","type":"comment","z":"5371300d.cb259","name":"Paso 2 - PI","info":"","x":80,"y":360,"wires":[]}]
